.idea
*.iml

/sigmakee-sources-recovery/
/ontology-rest/.sigmakee

*.ser

/target
/ontology-rest/sigma/sources/sumo/
/ontology-rest/sigma/Programs

/ontology-rest/lib/stanford-corenlp-4.5.4-models.jar