<configuration>
  <preference name="adminBrowserLimit" value="200" />
  <preference name="baseDir" value="/sigma/.sigmakee" />
  <preference name="cache" value="yes" />
  <preference name="celtdir" value="" />
  <preference name="editDir" value="/sigma/sources/sumo" />
  <preference name="eprover" value="/sigma/Programs/E/PROVER/e_ltb_runner" />
  <preference name="graphVizDir" value="/usr/bin" />
  <preference name="holdsPrefix" value="no" />
  <preference name="hostname" value="localhost" />
  <preference name="https" value="false" />
  <preference name="inferenceTestDir" value="/sigma/.sigmakee/KBs/tests" />
  <preference name="jedit" value="jedit" />
  <preference name="kbDir" value="/sigma/.sigmakee/KBs" />
  <preference name="leoExecutable" value="/sigma/leo" />
  <preference name="lineNumberCommand" value="" />
  <preference name="loadCELT" value="no" />
  <preference name="logDir" value="/sigma/.sigmakee/logs" />
  <preference name="logLevel" value="warning" />
  <preference name="port" value="8080" />
  <preference name="prolog" value="" />
  <preference name="reportDup" value="no" />
  <preference name="reportFnError" value="no" />
  <preference name="showcached" value="no" />
  <preference name="sumokbname" value="SUMO" />
  <preference name="systemsDir" value="/sigma" />
  <preference name="termFormats" value="no" />
  <preference name="testOutputDir" value="/var/tomcat/apache-tomcat-9.0.73/webapps/sigma/tests" />
  <preference name="TPTPDisplay" value="no" />
  <preference name="tptpHomeDir" value="/sigma" />
  <preference name="TPTP" value="yes" />
  <preference name="typePrefix" value="yes" />
  <preference name="userBrowserLimit" value="25" />
  <preference name="vampire" value="/sigma/Programs/vampire/vampire" />
  <kb name="SUMO">
    <constituent filename="Diet.kif" />
    <constituent filename="Food.kif" />
    <constituent filename="Dining.kif" />
    <constituent filename="Mid-level-ontology.kif" />
    <constituent filename="Merge.kif" />
  </kb>
</configuration>
